In [1]:
import utils.DatasetAccess as db_access

c:\Users\Stonker69\Documents\GitHub\BiksStonks\Forcasting_Models\env\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
connection = db_access.get_connection()

In [6]:
scores = db_access.get_score_from_r_squared_range(connection, 0.999, 1, model_id=3, forecasted_point=10)

c:\Users\Stonker69\Documents\GitHub\BiksStonks\Forcasting_Models\env\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [7]:
scores.head()

   model_id  r_squared forecasted_points    data_to  data_from
0         3   0.999299                10 2021-04-01 2017-04-01
1         3   0.999539                10 2021-04-01 2017-04-01
2         3   0.999559                10 2021-04-01 2017-04-01
3         3   0.999056                10 2021-04-01 2018-04-01
4         3   0.999031                10 2021-04-01 2018-04-01

In [ ]:
for s in scores:
    graph = db_access.get_graph_for_id(8415, connection)
    print(graph.head())

c:\Users\Stonker69\Documents\GitHub\BiksStonks\Forcasting_Models\env\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

     time         y     y_hat
0    None  2.221902  0.817216
1    None  2.342980  0.817216
2    None  2.414202  0.817216
3    None  2.421324  0.817216
4    None  2.449813  0.817216
..    ...       ...       ...
295  None -0.171163  0.817216
296  None -0.164041  0.817216
297  None  0.334514  0.817216
298  None  0.256170  0.817216
299  None  0.377247  0.817216

[300 rows x 3 columns]

'y'