In [36]:
import pandas as pd
import yfinance as yf

def get_yahoo_finance_data(index_to_download="ALL", start="2007-12-13", end="2017-12-12"):
    indeces = ["SPY","^HSI","^GDAXI","000001.SS"]
    dfs = []

    if index_to_download == "ALL":
        for index in indeces:
            dfs.append(yf.download(index, start, end))
    else:
        dfs.append(yf.download(index_to_download, start, end))

    dfs = rename_df_columns(dfs)
    return dfs

In [34]:
dfs = get_yahoo_finance_data()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
        date        Open        High         Low       close   Adj Close  \
0 2007-12-12  151.059998  151.770004  147.199997  149.369995  112.127312
1 2007-12-13  148.320007  149.389999  147.300003  149.059998  111.894623
2 2007-12-14  147.929993  149.100006  147.100006  147.169998  110.475822
3 2007-12-17  146.610001  146.869995  144.860001  145.070007  108.899460
4 2007-12-18  146.100006  146.479996  143.960007  145.880005  109.507484

      Volume
0  322435600
1  237551300
2  159152900
3  177269400
4  245569300
        date          Open          High           Low         close  \
0 2007-12-13  28518.779297  28604.169922  27606.230469  27744.449219
1 2007-12-14  27708.310547  27813.820312  27245.169922  27563.640625
2 2007-12-17  27236.449219  27245.509766  26551.369141  26596.580078
3 2007-12-18  26515.089844  26912.289062  26093.960938  26732.869141
4 2007-12-19  26880.089844  27214.650391  26670.849609  27029.259766

      Adj Close      Volume
0  27744.449219  2962956000
1  27563.640625  2426898000
2  26596.580078  2406723800
3  26732.869141  2245734800
4  27029.259766  1637051800
        date         Open         High          Low        close    Adj Close  \
0 2007-12-13  5078.182129  5095.151855  4954.356934  4958.042969  4958.042969
1 2007-12-14  4899.750000  5011.201172  4860.155762  5007.911133  5007.911133
2 2007-12-17  5007.285156  5007.346191  4874.624023  4876.761230  4876.761230
3 2007-12-18  4856.471191  4905.492188  4812.155762  4836.173828  4836.173828
4 2007-12-19  4878.065918  4960.416992  4868.354004  4941.784180  4941.784180

   Volume
0   67200
1   53000
2   63600
3   40600
4   56200

In [15]:
def rename_df_columns(dfs):
    new_dfs = []
    for df in dfs:
        df = df.reset_index()
        df = df.rename(columns={"Close": "close"})
        df = df.rename(columns={"Date": "date"})
        print(df.head())
        new_dfs.append(df)
    return new_dfs

In [9]:
dfs[0]
df = rename_df_columns(dfs)

        date        Open        High         Low       close   Adj Close  \
0 2007-12-12  151.059998  151.770004  147.199997  149.369995  112.127274
1 2007-12-13  148.320007  149.389999  147.300003  149.059998  111.894623
2 2007-12-14  147.929993  149.100006  147.100006  147.169998  110.475853
3 2007-12-17  146.610001  146.869995  144.860001  145.070007  108.899467
4 2007-12-18  146.100006  146.479996  143.960007  145.880005  109.507484

      Volume
0  322435600
1  237551300
2  159152900
3  177269400
4  245569300

In [16]:
type(df[0])

pandas.core.frame.DataFrame

In [21]:
print(dfs[-1])

           date         Open         High          Low        close  \
0    2007-12-13  5078.182129  5095.151855  4954.356934  4958.042969
1    2007-12-14  4899.750000  5011.201172  4860.155762  5007.911133
2    2007-12-17  5007.285156  5007.346191  4874.624023  4876.761230
3    2007-12-18  4856.471191  4905.492188  4812.155762  4836.173828
4    2007-12-19  4878.065918  4960.416992  4868.354004  4941.784180
...         ...          ...          ...          ...          ...
2425 2017-12-05  3301.690918  3315.737061  3300.511963  3303.675049
2426 2017-12-06  3291.312988  3296.200928  3254.611084  3293.965088
2427 2017-12-07  3283.279053  3291.281982  3259.164062  3272.053955
2428 2017-12-08  3264.478027  3297.129883  3258.759033  3289.991943
2429 2017-12-11  3290.488037  3322.674072  3288.294922  3322.196045

        Adj Close  Volume
0     4958.042969   67200
1     5007.911133   53000
2     4876.761230   63600
3     4836.173828   40600
4     4941.784180   56200
...           ...     ...
2425  3303.675049  208300
2426  3293.965088  151600
2427  3272.053955  132100
2428  3289.991943  133200
2429  3322.196045  132000

[2430 rows x 7 columns]

In [ ]:
dfs[0]['close'].plot()