In [117]:
from utils.sentiment_analysis import SentimentAnalysis
from utils.translator import Translator
from utils.scraper import call_url_get_bs4
from bs4 import BeautifulSoup
from requests.structures import CaseInsensitiveDict
import requests
import time
from datetime import datetime, timedelta
import re
import pandas as pd
from requests.packages.urllib3.exceptions import InsecureRequestWarning
from utils.db_access import DatabaseAccess


requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

In [118]:
db = DatabaseAccess()
datasets = db.get_rows("SELECT identifier, description FROM dataset")

Connection to 'stonksdb' made successfully

c:\Users\madsh\OneDrive\Code\Python\BiksStonks\data_collectors\python\env\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [119]:
datasets.iloc[1].description

'Columbus A/S'

In [120]:
ds = [[datasets.iloc[i].identifier, datasets.iloc[i].description] for i in range(len(datasets['description']))]

In [121]:
ds

[[15518, 'Coloplast B A/S'],
 [15520, 'Columbus A/S'],
 [745915, 'Danske Andelskassers Bank A/S'],
 [15521, 'Danske Bank A/S'],
 [15645, 'Dantax A/S'],
 [15530, 'Djurslands Bank A/S'],
 [24490, 'FirstFarms A/S'],
 [15489, 'Alm. Brand A/S'],
 [19782, 'ALK-Abelló B A/S'],
 [15554, 'Jyske Bank A/S'],
 [405195, 'Matas A/S'],
 [9800892, 'Netcompany Group A/S'],
 [15567, 'NKT A/S'],
 [10900494, 'Nordea Bank Abp'],
 [15629, 'Novo Nordisk B A/S'],
 [167, 'Novozymes A/S'],
 [15129047, 'NTG Nordic Transport Group'],
 [15254, 'Ambu A/S'],
 [23681181, 'Aquaporin A/S'],
 [2086, 'Bavarian Nordic A/S'],
 [34861, 'BioPorto A/S'],
 [23632, 'Atlantic Petroleum P/F'],
 [15623, 'Brd. Klee B A/S'],
 [15515, 'Carlsberg A A/S'],
 [15516, 'Carlsberg B A/S'],
 [7070000, 'Copenhagen Capital A/S'],
 [15449923, 'EAC Invest A/S'],
 [38088, 'Bang & Olufsen Holding A/S'],
 [15538, 'Flugger Group A/S'],
 [162, 'H. Lundbeck A/S'],
 [8350289, 'Orphazyme A/S'],
 [48755, 'Pandora A/S'],
 [15637, 'Rockwool International A A/S'],
 [5864, 'Rockwool International B A/S'],
 [15577, 'Royal Unibrew A/S'],
 [5901, 'SAS AB'],
 [15640, 'Solar B A/S'],
 [15592, 'Spar Nord Bank A/S'],
 [15594, 'Sydbank A/S'],
 [8692171, 'AGF A/S'],
 [15599, 'Topdanmark A/S'],
 [13695315, 'Agat Ejendomme'],
 [3969399, 'TORM Plc A'],
 [17512, 'Tryg A/S'],
 [15611, 'Vestas Wind Systems A/S'],
 [49357, 'Zealand Pharma A/S'],
 [8190802, 'Ørsted A/S'],
 [27453, 'BankNordik P/F'],
 [7755524, 'Blue Vision A/S A'],
 [20256975, 'Boozt AB'],
 [15617, 'Brdr.Hartmann A/S'],
 [20586, 'cBrain A/S'],
 [4593001, 'Cemat A/S'],
 [24725, 'ChemoMetec A/S'],
 [47220, 'Chr. Hansen Holding A/S'],
 [15212, 'D/S Norden'],
 [13377918, 'Demant A/S'],
 [15528, 'DFDS A/S'],
 [3955, 'DSV A/S'],
 [589284, 'Fast Ejendom Danmark A/S'],
 [21569, 'FLSmidth & Co. A/S'],
 [15543, 'GN Store Nord A/S'],
 [23368278, 'Green Hydrogen Systems A/S'],
 [15618, 'H+H International A/S'],
 [728888, 'ISS A/S'],
 [9647695, 'German High Street Properties A/S'],
 [28842, 'Glunz & Jensen Holding A/S'],
 [7166588, 'GreenMobility A/S'],
 [15546, 'Grønlandsbanken A/S'],
 [15615, 'Gyldendal B A/S'],
 [15487, 'Aalborg Boldspilklub A/S'],
 [15494, 'Brdr. A & O Johansen præf. A/S'],
 [14400824, 'Genmab A/S'],
 [15541, 'Gabriel Holding A/S'],
 [15616, 'Harboes Bryggeri B A/S'],
 [19959540, 'HusCompagniet'],
 [15550, 'Hvidbjerg Bank A/S'],
 [9360908, 'InterMail A/S'],
 [15552, 'Jeudan A/S'],
 [15557, 'Kreditbanken A/S'],
 [15555, 'Københavns Lufthavne A/S'],
 [15560, 'Lollands Bank A/S'],
 [15626, 'Luxor B A/S'],
 [15558, 'Lån og Spar Bank A/S'],
 [13507481, 'MT Hojgaard Holding A/S'],
 [15562, 'Møns Bank A/S'],
 [2664, 'Newcap Holding A/S'],
 [8037761, 'Nilfisk Holding A/S'],
 [1580614, 'NNIT A/S'],
 [15570, 'Nordfyns Bank A/S'],
 [27288, 'Nordic Shipholding A/S'],
 [46918, 'North Media A/S'],
 [15632, 'NTR Holding B A/S'],
 [1066230, 'Onxeo SA (Copenhagen)'],
 [23420172, 'Park Street A/S'],
 [15575, 'PARKEN Sport & Entertainment A/S'],
 [15633, 'Per Aarsleff Holding A/S B'],
 [33642, 'Prime Office A/S'],
 [25929877, 'Q-Interline A/S'],
 [15636, 'Rias B A/S'],
 [5925, 'Ringkjøbing Landbobank A/S'],
 [15635, 'Roblon B A/S'],
 [24382, 'Rovsing A/S'],
 [2097, 'RTX A/S'],
 [15638, 'Sanistål A/S'],
 [15581, 'Scandinavian Brake Systems A/S'],
 [16214302, 'Scandinavian Investment Group A/S'],
 [3417253, 'Scandinavian Tobacco Group A/S'],
 [15583, 'Schouw & Co. A/S'],
 [1851161, 'Silkeborg IF Invest A/S'],
 [2098, 'SimCorp A/S'],
 [19879, 'SKAKO A/S'],
 [15585, 'Skjern Bank A/S'],
 [15590, 'SP Group A/S'],
 [4145887, 'Sparekassen Sjælland-Fyn A/S'],
 [6041, 'A.P. Møller - Mærsk B A/S'],
 [17686767, 'Stenocare A/S'],
 [407716, 'Strategic Investments A/S'],
 [9137417, 'TCM Group A/S'],
 [13456564, 'The Drilling Company of 1972 A/S'],
 [15596, 'Tivoli A/S'],
 [6043, 'A.P. Møller - Mærsk A A/S'],
 [561881, 'Fynske Bank A/S'],
 [15600, 'Totalbanken A/S'],
 [23241347, 'Trifork Holding AG'],
 [15601, 'United International Enterprises Ltd'],
 [15608, 'Vestjysk Bank A/S'],
 [43140, 'Össur hf.'],
 [15495, 'Brøndbyernes IF Fodbold A/S'],
 [25796317, 'Wealth Invest Secure Select Aktier']]

In [122]:
custome_names = {
    "Netcompany Group" : ['Netcompany'],
    'Nordea Bank Abp':['Nordea Bank'],
    'Atlantic Petroleum P/F':['Atlantic Petroleum'],
    'Bang & Olufsen Holding':['Bang & Olufsen', 'Bang og Olufsen', 'B&O'],
    'Flugger Group':['Flügger'],
    'Rockwool International':['Rockwool'],
    'SAS AB' : ['SAS'],
    'Spar Nord Bank':['Spar Nord'],
    'TORM Plc': ['TORM'],
    'Vestas Wind Systems': ['Vestas'],
    'BankNordik P/F':['BankNordik'],
    'Boozt AB':['Boozt'],
    'Aalborg Boldspilklub':['aab'],
    'Harboes Bryggeri':['Harboe'],
    'Københavns Lufthavne':['Københavns Lufthavn'],
    'Lån og Spar Bank':['Lån og Spar'],
    'Onxeo SA (Copenhagen)':['Onxeo SA'],
    'Silkeborg IF Invest':['Silkeborg IF', 'SIF'],
    'A.P. Møller - Mærsk':['Mærsk', 'A.P. Møller', 'Maersk'],
    'Trifork Holding':['Trifork', 'Trifork Holding'],
    'Brøndbyernes IF':['Brøndby IF', 'BIF'],
    'PARKEN Sport & Entertainment':['parken']
}

In [123]:
for d in ds:
    if ' A/S' in d[1]:
        d[1] = d[1].replace(' A/S', '')
    if d[1][-2:] == ' B':
        d[1] = d[1][:-2]
    if d[1][-2:] == ' A':
        d[1] = d[1][:-2]
    if d[1] in custome_names:
        d.extend(custome_names[d[1]])
    
ds

[[15518, 'Coloplast'],
 [15520, 'Columbus'],
 [745915, 'Danske Andelskassers Bank'],
 [15521, 'Danske Bank'],
 [15645, 'Dantax'],
 [15530, 'Djurslands Bank'],
 [24490, 'FirstFarms'],
 [15489, 'Alm. Brand'],
 [19782, 'ALK-Abelló'],
 [15554, 'Jyske Bank'],
 [405195, 'Matas'],
 [9800892, 'Netcompany Group', 'Netcompany'],
 [15567, 'NKT'],
 [10900494, 'Nordea Bank Abp', 'Nordea Bank'],
 [15629, 'Novo Nordisk'],
 [167, 'Novozymes'],
 [15129047, 'NTG Nordic Transport Group'],
 [15254, 'Ambu'],
 [23681181, 'Aquaporin'],
 [2086, 'Bavarian Nordic'],
 [34861, 'BioPorto'],
 [23632, 'Atlantic Petroleum P/F', 'Atlantic Petroleum'],
 [15623, 'Brd. Klee'],
 [15515, 'Carlsberg'],
 [15516, 'Carlsberg'],
 [7070000, 'Copenhagen Capital'],
 [15449923, 'EAC Invest'],
 [38088, 'Bang & Olufsen Holding', 'Bang & Olufsen', 'Bang og Olufsen', 'B&O'],
 [15538, 'Flugger Group', 'Flügger'],
 [162, 'H. Lundbeck'],
 [8350289, 'Orphazyme'],
 [48755, 'Pandora'],
 [15637, 'Rockwool International', 'Rockwool'],
 [5864, 'Rockwool International', 'Rockwool'],
 [15577, 'Royal Unibrew'],
 [5901, 'SAS AB', 'SAS'],
 [15640, 'Solar'],
 [15592, 'Spar Nord Bank', 'Spar Nord'],
 [15594, 'Sydbank'],
 [8692171, 'AGF'],
 [15599, 'Topdanmark'],
 [13695315, 'Agat Ejendomme'],
 [3969399, 'TORM Plc', 'TORM'],
 [17512, 'Tryg'],
 [15611, 'Vestas Wind Systems', 'Vestas'],
 [49357, 'Zealand Pharma'],
 [8190802, 'Ørsted'],
 [27453, 'BankNordik P/F', 'BankNordik'],
 [7755524, 'Blue Vision'],
 [20256975, 'Boozt AB', 'Boozt'],
 [15617, 'Brdr.Hartmann'],
 [20586, 'cBrain'],
 [4593001, 'Cemat'],
 [24725, 'ChemoMetec'],
 [47220, 'Chr. Hansen Holding'],
 [15212, 'D/S Norden'],
 [13377918, 'Demant'],
 [15528, 'DFDS'],
 [3955, 'DSV'],
 [589284, 'Fast Ejendom Danmark'],
 [21569, 'FLSmidth & Co.'],
 [15543, 'GN Store Nord'],
 [23368278, 'Green Hydrogen Systems'],
 [15618, 'H+H International'],
 [728888, 'ISS'],
 [9647695, 'German High Street Properties'],
 [28842, 'Glunz & Jensen Holding'],
 [7166588, 'GreenMobility'],
 [15546, 'Grønlandsbanken'],
 [15615, 'Gyldendal'],
 [15487, 'Aalborg Boldspilklub', 'aab'],
 [15494, 'Brdr. A & O Johansen præf.'],
 [14400824, 'Genmab'],
 [15541, 'Gabriel Holding'],
 [15616, 'Harboes Bryggeri', 'Harboe'],
 [19959540, 'HusCompagniet'],
 [15550, 'Hvidbjerg Bank'],
 [9360908, 'InterMail'],
 [15552, 'Jeudan'],
 [15557, 'Kreditbanken'],
 [15555, 'Københavns Lufthavne', 'Københavns Lufthavn'],
 [15560, 'Lollands Bank'],
 [15626, 'Luxor'],
 [15558, 'Lån og Spar Bank', 'Lån og Spar'],
 [13507481, 'MT Hojgaard Holding'],
 [15562, 'Møns Bank'],
 [2664, 'Newcap Holding'],
 [8037761, 'Nilfisk Holding'],
 [1580614, 'NNIT'],
 [15570, 'Nordfyns Bank'],
 [27288, 'Nordic Shipholding'],
 [46918, 'North Media'],
 [15632, 'NTR Holding'],
 [1066230, 'Onxeo SA (Copenhagen)', 'Onxeo SA'],
 [23420172, 'Park Street'],
 [15575, 'PARKEN Sport & Entertainment', 'parken'],
 [15633, 'Per Aarsleff Holding'],
 [33642, 'Prime Office'],
 [25929877, 'Q-Interline'],
 [15636, 'Rias'],
 [5925, 'Ringkjøbing Landbobank'],
 [15635, 'Roblon'],
 [24382, 'Rovsing'],
 [2097, 'RTX'],
 [15638, 'Sanistål'],
 [15581, 'Scandinavian Brake Systems'],
 [16214302, 'Scandinavian Investment Group'],
 [3417253, 'Scandinavian Tobacco Group'],
 [15583, 'Schouw & Co.'],
 [1851161, 'Silkeborg IF Invest', 'Silkeborg IF', 'SIF'],
 [2098, 'SimCorp'],
 [19879, 'SKAKO'],
 [15585, 'Skjern Bank'],
 [15590, 'SP Group'],
 [4145887, 'Sparekassen Sjælland-Fyn'],
 [6041, 'A.P. Møller - Mærsk', 'Mærsk', 'A.P. Møller', 'Maersk'],
 [17686767, 'Stenocare'],
 [407716, 'Strategic Investments'],
 [9137417, 'TCM Group'],
 [13456564, 'The Drilling Company of 1972'],
 [15596, 'Tivoli'],
 [6043, 'A.P. Møller - Mærsk', 'Mærsk', 'A.P. Møller', 'Maersk'],
 [561881, 'Fynske Bank'],
 [15600, 'Totalbanken'],
 [23241347, 'Trifork Holding AG'],
 [15601, 'United International Enterprises Ltd'],
 [15608, 'Vestjysk Bank'],
 [43140, 'Össur hf.'],
 [15495, 'Brøndbyernes IF Fodbold'],
 [25796317, 'Wealth Invest Secure Select Aktier']]

In [124]:
cookies = {
    
}

headers = {
    "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36", 
}

In [125]:
soup = call_url_get_bs4(f"https://api.borsen.dk/nyheder/side/5000", cookies=cookies, headers=headers)

In [126]:
s = soup.find_all('div', {'class':'col offset-md-2 body'})

In [127]:
len(s), len(soup.find_all('li'))

(100, 136)

In [128]:
months = {
    'jan':1,
    'feb':2,
    'mar':3,
    'apr':4,
    'maj':5,
    'jun':6,
    'jul':7,
    'aug':8,
    'sep':9,
    'okt':10,
    'nov':11,
    'dec':12
}

In [129]:
def parse_date(date):
    split_date = date.split(' ')
    day = int(split_date[0])
    month = int(months[split_date[1]])
    year = int(split_date[2])
    hour = int(split_date[3])
    minute = int(split_date[4])
    
    return datetime(year=year, month=month, day=day, hour=hour, minute=minute)

In [130]:
articels = pd.DataFrame(columns=['release_date', 'source_headline', 'target_headline', 'source_language', 'target_language', 'neg', 'pos', 'neu', 'compoud', 'url', 'companies'])
articels.head()

Empty DataFrame
Columns: [release_date, source_headline, target_headline, source_language, target_language, neg, pos, neu, compoud, url, companies]
Index: []

In [131]:
def _add_row(articels, date, headline, url, companies):
    row = pd.DataFrame({'release_date' : [date], 
                        'source_headline': [headline],
                        'source_language' : ['da'],
                        'url' : [url],
                        'companies': [",".join([str(x) for x in companies])]})
    return pd.concat([articels, row], ignore_index = True, axis = 0)

In [132]:
def _get_date(mydivs):
    date = mydivs[0].get_text()
    date=date.replace(".", ' ').replace(':', ' ').replace('KL', ' ').replace('    ', ' ').replace('  ', ' ')
    return parse_date(date)

In [133]:
def _date_with_correct_format_exists(mydivs):
    return len(mydivs) > 0 and re.findall('[0-9]*\. [a-z]+ [0-9]* KL. [0-9]*:[0-9]*', mydivs[0].get_text())

In [134]:
def _get_companies_in_headlinen(company_names, headline):
    companines_in_headline = []
    for company in company_names:
        for c in company[1:]:
            if c.lower() in headline.lower():
                companines_in_headline.append(company[0])
                break
    return companines_in_headline

In [135]:
def parse_articels_in_page(page, company_names):
    articels = pd.DataFrame(columns=['release_date', 'source_headline', 'target_headline', 'source_language', 'target_language', 'neg', 'pos', 'neu', 'compoud', 'url', 'companies'])
    for link in page:
        while True:
            try:
                if not link.a == None:
                    url = link.a.get('href')
                    headline = link.a.get_text()
                    inner_soup = call_url_get_bs4(url, cookies=cookies, headers=headers)
                    
                    mydivs = inner_soup.find_all("span", {"class": "published"})

                    if _date_with_correct_format_exists(mydivs):
                        date = _get_date(mydivs)
                        companies = _get_companies_in_headlinen(company_names, headline)
                        articels = _add_row(articels, date, headline, url, companies)
                    else:
                        print(f"error - {headline} - {url} - {mydivs}")
                    break
            except Exception as e:
                print(f"Error {str(e)}")
                print("retrying in a few seconds")
                time.sleep(5)
    return articels

In [136]:
i = 1 #5515

company_names = ds

while True:
    try:
        soup = call_url_get_bs4(f"https://api.borsen.dk/nyheder/side/{i}", cookies=cookies, headers=headers)
        articels = soup.find_all('div', {'class':'col offset-md-2 body'})
        if len(articels) == 0:
            break
        else:
            articels_dataframe = parse_articels_in_page(articels, company_names)
            i += 1
            break
    except Exception as e:
        print(f"exception at {i} - {str(e)}")
        time.sleep(5)

print("done")

i

done

2

In [137]:
articels_dataframe[['source_headline', 'companies']].head(20)

                                      source_headline  companies
0   Svensk byggekæde brager ind i Danmark: Vil åbn...
1   Drømmehuset ved fjorden kom til salg, lige da ...
2   Besøg modemilliardærens personlige kunstsamlin...
3   Netto-direktør bliver ny topchef for energisel...
4   Rådgivergigant lander rekordregnskab efter mas...
5   Banknordiks topchef stopper – fortsætter indti...      27453
6   Rusland nægter krigsforbrydelser i Butja: Skyd...
7   Debat | Business Danmark: Arbejdsgiverne må ik...
8   Arving stopper som formand for Danfoss-ejerfon...
9   Russiske aktier stiger igen: Vestlige aktører ...
10  Kommentar | Anders Borup Christensen: Det er u...
11  Kursraket stiger efter kontraktnyt – grøn darl...
12  Efter 36 år i Mærsk: Direktør for Mærsks havne...  6041,6043
13  Hongkong-leder vil træde tilbage – nummer to m...
14       Tesla leverer 310.000 biler i første kvartal
15                     Tysk eksport tager markant hop
16  Før markedet åbner: Rygklap til Danske Bank i ...      15521
17  Debat | CBS-professor: Prischok, knaphed og fo...
18  Kinesiske techaktier løftet: Sådan bliver hand...
19          Snapchat hyrer tidligere Parken-direktør       15575

In [143]:
msg = "afganistanagf"

re.search(r'\b' + 'agf' + r'\b', msg)